<footer class="footer">
    <div class="div">
        <div class="text-wrapper">WAYFINDR</div>

        <div class="text-wrapper-2">Sitemap</div>

        <div class="text-wrapper-3">Contact</div>
        <div class="text-wrapper-4">About</div>
        <div class="text-wrapper-5">Terms of Use</div>

        <p class="p">© Wayfindr 2025 | All Rights Reserved.</p>

        <div class="text-wrapper-6">Privacy Policy</div>

        <a href="/" class="text-wrapper-7">Home</a>

        <a href="https://www.facebook.com/luisdaniel.enriquez2004/" target="_blank" class="text-wrapper-8">Facebook</a>
        <a href="https://www.instagram.com/furaxxi?igsh=cjdhcGZiMmVqbjF5
" target="_blank" class="text-wrapper-9">Instagram</a>
        <a href="https://www.youtube.com/" target="_blank" class="text-wrapper-10">Youtube</a>

        <a href="/self-assessment" class="text-wrapper-11">Self-Assessment</a>
        <a href="/career-paths" class="text-wrapper-12">Career Paths</a>
        <a href="/roadmap" class="text-wrapper-13">Roadmap</a>
    </div>
</footer>
