<footer class="footer">
    <div class="div">
        <div class="text-wrapper">WAYFINDR</div>
        <div class="text-wrapper-2">Sitemap</div>
        <div class="text-wrapper-3">Contact</div>
        <div class="text-wrapper-4">About</div>
        <div class="text-wrapper-5">Terms of Use</div>
        <p class="p">© Wayfindr 2025 | All Rights Reserved.</p>
        <div class="text-wrapper-6">Privacy Policy</div>
        <div class="text-wrapper-7">Home</div>
        <div class="text-wrapper-8">Facebook</div>
        <div class="text-wrapper-9">Twitter</div>
        <div class="text-wrapper-10">Youtube</div>
        <div class="text-wrapper-11">Self-Assessment</div>
        <div class="text-wrapper-12">Career Paths</div>
        <div class="text-wrapper-13">Goal Planner</div>
    </div>
</footer>
