<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="icon" type="img/png" href="~/img/Logo.png" />
    <link rel="stylesheet" href="~/css/globals.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/education.css" />
    <script src="~/js/include.js" defer></script>
    <title>Wayfindr</title>
</head>
<body>
    @Html.Partial("_Header")
    <div class="education-cp">
        <div class="div">
            <div class="overlap">
                <div class="text-wrapper">EDUCATION</div>
                <div class="text-wrapper-2">Wayfindr</div>
            </div>
            <div class="text-wrapper-3">WHY CHOOSE THIS?</div>
            <p class="pursuing-college-or">
                Pursuing college or university means enrolling in formal academic programs that lead to degrees (e.g.,
                bachelor’s, associate, or pre-professional courses). <br /><br />It’s ideal for careers that require
                certifications, deeper theoretical knowledge, or long-term specialization.
            </p>
            <div class="overlap-group">
                <p class="p">
                    Some careers (like teaching, law, engineering, or healthcare) require a formal degree to enter and advance.
                </p>
                <div class="text-wrapper-4">Professionalism</div>
            </div>
            <div class="overlap-2">
                <p class="text-wrapper-5">
                    If you thrive in classrooms, lectures, and research, higher education is your environment.
                </p>
                <div class="text-wrapper-6">Academic Learning</div>
            </div>
            <div class="overlap-3">
                <p class="text-wrapper-7">
                    A degree often leads to higher-paying and more stable job opportunities in the future.
                </p>
                <div class="text-wrapper-6">Career Doors</div>
            </div>
            <div class="overlap-4">
                <p class="p">College life encourages responsibility, time management, and making decisions on your own.</p>
                <div class="text-wrapper-8">Personal Growth</div>
            </div>
            <div class="overlap-5">
                <p class="text-wrapper-5">
                    University communities offer connections that can support your future career or collaborations.
                </p>
                <div class="text-wrapper-6">Build Networks</div>
            </div>
            <div class="overlap-group-2">
                <p class="text-wrapper-7">
                    Institutions often offer financial aid, leadership roles, or global exchange opportunities.
                </p>
                <div class="text-wrapper-6">Leadership</div>
            </div>
            <img class="education" src="~/img/education-pic.png" />
        </div>
    </div>
    @Html.Partial("_Footer")
</body>
</html>
