<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="icon" type="img/png" href="~/img/Logo.png" />
    <link rel="stylesheet" href="~/css/globals.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/employment.css" />
    <script src="~/js/include.js" defer></script>
    <title>Wayfindr</title>
</head>
<body>
    @Html.Partial("_Header")
    <div class="employment-cp">
        <div class="div">
            <div class="overlap">
                <div class="text-wrapper">EMPLOYMENT</div>
                <div class="text-wrapper-2">Wayfindr</div>
            </div>
            <div class="text-wrapper-3">WHY CHOOSE THIS?</div>
            <img class="background-assess" src="~/img/employment-pic.png" />
            <p class="jumping-straight">
                Jumping straight into the workforce means you&#39;re ready to gain hands-on experience, start earning, and
                build your career from the ground up. <br /><br />Whether it’s in an office, fieldwork, or customer service,
                employment helps you build discipline, grow your network, and gain professional experience early.
            </p>
            <div class="overlap-group">
                <p class="p">
                    You may be eager to earn your own income, support yourself or your family, or save up for future goals like
                    starting a business or going back to school.
                </p>
                <div class="text-wrapper-4">Goal-oriented</div>
            </div>
            <div class="overlap-group-2">
                <p class="text-wrapper-5">
                    Jumping into the workforce helps you build essential soft and hard skills, grow your network, and understand
                    the dynamics of a professional environment.
                </p>
                <div class="text-wrapper-6">Real-World Experience</div>
            </div>
            <div class="overlap-2">
                <p class="text-wrapper-7">
                    Having a job means managing your time, finances, and priorities — which are all important steps toward
                    adulthood and self-sufficiency.
                </p>
                <div class="text-wrapper-6">Growing Independence</div>
            </div>
            <div class="overlap-3">
                <p class="p">
                    Whether from school, internships, or personal projects, employment lets you immediately put your skills to
                    use and see real results from your efforts.
                </p>
                <div class="text-wrapper-8">Learning Application</div>
            </div>
            <div class="overlap-4">
                <p class="text-wrapper-5">
                    Being part of a workplace means working with diverse individuals toward shared goals — great for building
                    interpersonal and communication skills.
                </p>
                <div class="text-wrapper-6">Valuing Teamwork</div>
            </div>
            <div class="overlap-5">
                <p class="text-wrapper-7">
                    A regular paycheck and employment benefits can help you plan ahead for big milestones like moving out,
                    investing, or supporting loved ones.
                </p>
                <div class="text-wrapper-6">Long-term Planning</div>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
</body>
</html>
