<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="icon" type="img/png" href="~/img/Logo.png" />
    <link rel="stylesheet" href="~/css/globals.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/freelancing.css" />
    <script src="~/js/include.js" defer></script>
    <title>Wayfindr</title>
</head>
<body>
    @Html.Partial("_Header")

    <div class="freelancing-cp">
        <div class="div">
            <div class="overlap">
                <div class="text-wrapper">FREELANCING</div>
                <div class="text-wrapper-2">Wayfindr</div>
            </div>
            <div class="text-wrapper-3">WHY CHOOSE THIS?</div>
            <p class="freelancing-empowers">
                Freelancing empowers individuals to take control of their schedules, income, and career direction, making it
                ideal for those who value autonomy and flexibility. It requires self-discipline, clear communication, and a
                willingness to continuously improve your craft. <br /><br />As digital platforms grow, freelancing has become
                a viable long-term path—not just a side hustle—allowing professionals to build personal brands, niche
                expertise, and lasting client relationships across industries.
            </p>
            <div class="overlap-group">
                <p class="p">Freelancing offers flexibility—you decide when, where, and how much you work.</p>
                <div class="text-wrapper-4">Own Time</div>
            </div>
            <div class="overlap-group-2">
                <p class="text-wrapper-5">It’s ideal if you prefer independence, self-direction, and remote communication.</p>
                <div class="text-wrapper-6">Working Solo</div>
            </div>
            <div class="overlap-2">
                <p class="text-wrapper-7">
                    From video editing to virtual assistance, your skills can generate income online.
                </p>
                <div class="text-wrapper-6">Creative Skills</div>
            </div>
            <div class="overlap-3">
                <p class="p">Freelancing platforms connect you with clients worldwide without needing to relocate.</p>
                <div class="text-wrapper-8">Global Client Base</div>
            </div>
            <div class="overlap-4">
                <p class="text-wrapper-5">Freelancing teaches you to pitch, negotiate, and manage your own small business.</p>
                <div class="text-wrapper-6">Entrepreneurial-Minded</div>
            </div>
            <div class="overlap-5">
                <p class="text-wrapper-7">
                    If you&#39;re studying, caregiving, or exploring careers, freelancing fits around your lifestyle.
                </p>
                <div class="text-wrapper-6">Flexible Setup</div>
            </div>
            <img class="freelance" src="~/img/freelance-pic.png" />
        </div>
    </div>
    @Html.Partial("_Footer")
</body>
</html>
