<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/globals.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="icon" type="img/png" href="~/img/Logo.png" />
    <script src="~/js/include.js" defer></script>
    <script src="~/js/sidebar.js" defer></script>
    <title>Wayfindr</title>
</head>
<body>
    <div class="login">
        <div class="div">
            <img class="img" src="~/img/Logo2.png" />
            <div class="text-wrapper">WAYFINDR</div>
            <div class="overlap-group">
                <img class="loginbgfinal" src="~/img/loginbg.png" />
            </div>
            <div class="text-wrapper-2">Please enter your details</div>
            <div class="text-wrapper-3">Welcome Back!</div>

            <!-- Email -->
            <div class="text-wrapper-4">Email</div>
            <input type="email" class="rectangle" placeholder="Enter your email" />

            <!-- Password -->
            <div class="text-wrapper-5">Password</div>
            <input type="password"
                   class="rectangle-2"
                   placeholder="Enter your password" />

            <div class="overlap">
                <div class="text-wrapper-6">Forgot Password</div>
                <!-- <div class="text-wrapper-7">Remember Me</div> -->
            </div>
            <!-- <div class="rectangle-3"></div> -->
            <div class="overlap-2">
                <p class="dont-have-an-account">
                    <span class="span">Dont Have An Account Yet? </span>
                    <a href="register">
                        <span class="text-wrapper-8">Sign Up</span>
                    </a>
                </p>
            </div>
            <a href="/" class="overlap-3">
                <div class="rectangle-4"></div>
                <div class="text-wrapper-9">Sign In</div>
            </a>
        </div>
    </div>
</body>
</html>
