<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/globals.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/profile.css" />
    <link rel="icon" type="img/png" href="~/img/Logo.png" />
    <script src="~/js/include.js" defer></script>
    <script src="~/js/sidebar.js" defer></script>
    <title>Wayfindr</title>
</head>
<body>
    @Html.Partial("_Header")
    <div class="profile">
        <div class="div">
            <div class="text-wrapper">YOUR PROFILE</div>
            <div class="rectangle"></div>
            <div class="overlap-group">
                <div class="rectangle-2"></div>
                <div class="text-wrapper-2">Upload a Photo</div>
            </div>
            <div class="overlap">
                <div class="rectangle-3"></div>
                <div class="rectangle-4"></div>
                <div class="text-wrapper-3">Profile Information</div>
                <div class="text-wrapper-4">First Name</div>
                <div class="rectangle-5"></div>
                <div class="text-wrapper-5">Username</div>
                <div class="rectangle-6"></div>
                <div class="text-wrapper-6">Gender</div>
                <div class="text-wrapper-7">Last Name</div>
                <div class="rectangle-7"></div>
                <div class="rectangle-8"></div>
                <div class="text-wrapper-8">Contact Information</div>
                <div class="text-wrapper-9">Email</div>
                <div class="rectangle-9"></div>
                <div class="text-wrapper-10">New Password</div>
                <div class="rectangle-10"></div>
                <div class="text-wrapper-11">Confirm New Password</div>
                <div class="text-wrapper-12">Contact Number</div>
            </div>
            <div class="text-wrapper-13">Current Stats</div>
            <div class="text-wrapper-14">Assessment/s:</div>
            <div class="text-wrapper-15">Last modified:</div>
            <div class="text-wrapper-16">Current track:</div>
            <div class="no-of-assessments">{"{"}no-of-assessments{"}"}</div>
            <div class="date">{"{"}date{"}"}</div>
            <div class="current-career">{"{"}current career{"}"}</div>
            <div class="div-wrapper"><div class="text-wrapper-17">Save</div></div>
            <div class="overlap-2"><div class="text-wrapper-18">Back</div></div>
            <div class="overlap-3"><div class="text-wrapper-19">Logout</div></div>
        </div>
    </div>
    @Html.Partial("_Footer")
</body>
</html>
