<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="icon" type="img/png" href="img/Logo.png" />
    <link rel="stylesheet" href="~/css/globals.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/register.css" />
    <script src="~/js/include.js" defer></script>
    <title>Wayfindr</title>
</head>
<body>
    <div class="register">
        <div class="div">
            <div class="overlap">
                <img class="loginbgfinal" src="~/img/registerbg.png" />
            </div>
            <p class="text-wrapper">
                Already Have An Account? <a href="login"><span>Sign In</span></a>
            </p>
            <a href="/" class="overlap-group">
                <div class="text-wrapper-2">Sign Up</div>
            </a>
            <img class="img" src="~/img/Logo2.png" />
            <div class="text-wrapper-3">WAYFINDR</div>
            <div class="text-wrapper-4">Sign up to Wayfindr</div>
            <div class="text-wrapper-5">Please enter your details</div>
            <!-- Username -->
            <div class="text-wrapper-6">Username</div>
            <input type="text"
                   class="rectangle"
                   placeholder="Enter your username" />

            <!-- Email -->
            <div class="text-wrapper-7">Email</div>
            <input type="email"
                   class="rectangle-2"
                   placeholder="Enter your email" />

            <!-- Password -->
            <div class="text-wrapper-8">Password</div>
            <input type="password"
                   class="rectangle-3"
                   placeholder="Enter your password" />

            <!-- Confirm Password -->
            <div class="text-wrapper-9">Confirm Password</div>
            <input type="password"
                   class="rectangle-4"
                   placeholder="Confirm your password" />
        </div>
    </div>
</body>
</html>
